pip install psutil
pip install msgpack
pip install humanize
pip install ipdb
pip install scipy
pip install sklearn
pip install transformers==4.10.2
pip install timm==0.4.5
pip install einops
pip install dominate
pip install sacred
pip install neptune-contrib
pip install ffmpeg-python
pip install opencv-python
pip install pytorch-lightning==1.0.8
pip install omegaconf==2.0.0
